img {
	margin-top: 25px;
	margin-bottom: 25px;
}

.snt-container {
	padding-top: 80px;
}

.border {
	border: solid 1px gray;
	padding: 14px;
}

.corner-radius {
	border-radius: 10px;
}

.zoom-logo {
	width: 120px;
	height: 120px;	
	vertical-align: middle;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: rgb(39, 129, 255);
}

.zoom-logo img {
	max-width: 100%;
	padding: 10px;
}

.v-align {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 120px;
}

iframe {
	display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

ul {
	padding: 0px;
}

.app-icon {
	margin: 0;
}

.panel-success .panel-body {
	border: 2px solid;
	border-color: #5cb85c;
}

.panel-info .panel-body {
	border: 2px solid;
	border-color: #5bc0de;
}

.panel-danger .panel-body {
	border: 2px solid;
	border-color: #d9534f;
}