img {
	margin-top: 25px;
	margin-bottom: 25px;
}

.border {
	border: solid 1px gray;
	padding: 14px;
}

.zoom-logo {
	width: 120px;
	height: 120px;	
	vertical-align: middle;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: rgb(39, 129, 255);
	border-radius: 5px;
}

.zoom-logo img {
	max-width: 100%;
	padding: 10px;
}

.v-align {
	display: table-cell;
	vertical-align: middle;
	width: 120px;
	height: 120px;
}